DISCORD_WEBHOOK_RAW_TICKS=https://discord.com/api/webhooks/xxx/yyy
DISCORD_WEBHOOK_LAG_EVENTS=https://discord.com/api/webhooks/xxx/yyy
DISCORD_WEBHOOK_STATS=https://discord.com/api/webhooks/xxx/yyy
DISCORD_WEBHOOK_ALERTS=https://discord.com/api/webhooks/xxx/yyy
POLYMARKET_MARKET_ID=
LAG_THRESHOLD_MS=500
BINANCE_MOVE_THRESHOLD_USD=5
